html {
  font-size: 16px;
}

body {
  display: flex;
  margin: 0;
  background-color: #000000;
  color: #ccc;

}

#navbar header {
  font-size: 2rem;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 1em;
  border-right: 2px solid #ccc;
  overflow-y: auto;
}

#main-doc {
  display: block;
  margin-left: 260px;
  padding: 2em;
  
}

nav a {
  font-size: 1.3rem
}
.nav-link {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #ccc;
}

.nav-link:hover {
  color: #fff;
}

#navbar ul {
  list-style: none;
  padding: 0;
}
.main-section header {
  font-size: 1.8rem;
  
}
.example,
.example_one,
.example_two,
.example_three,
.example_four {
  border: 2px solid black;
  padding: 2rem;
  max-width: 100%;
  background-color: #666666;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ccc;
  }

  #navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #main-doc {
    max-width: 100%;
    height: auto;
    margin-left: 2rem;
    margin-right: 5rem;
    margin-top: 150px;
  }

  #mainheader {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}